@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  box-sizing: border-box;
  outline: none;
  /*border: 2px solid red;*/
}

.hideme {
  opacity: 0;
}

/*fixed right overlap*/
.row {
  margin-right: 0;
}

/*jumbotron*/
.hero {
  background-image: url("../images/bg-1.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.hero .navbar-default {
  background-color: transparent;
  border: none;
  opacity: 0.8;
  transition: 0.5s;
  padding-top: 25px;
}

.hero .navbar-default .navbar-nav li {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.hero .navbar-default .navbar-nav li a {
  color: #FFFFFF;
  transition: 0.3s;
  position: relative;
  text-decoration: none;
}

.hero .navbar-default .navbar-nav li a:hover {
  color: #ED145B;
}

.hero .navbar-default .navbar-nav li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ED145B;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.hero .navbar-default .navbar-nav li a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.hero .navbar-default .navbar-toggle {
  border-color: #ED145B;
}

.hero .navbar-default .navbar-toggle:hover {
  background-color: #FFFFFF;
}

.hero .navbar-default .navbar-collapse {
  text-align: center;
  border-color: #ED145B;
}

.hero .navbar-default .navbar-collapse .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero .navbar-default .icon-bar {
  background-color: #ED145B;
}

.hero .spacer {
  height: 50px;
  margin: 0;
}

.hero .header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  color: #FFFFFF;
}

.hero .header h1 {
  text-transform: uppercase;
  font-weight: 100;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.hero .header h1 span {
  font-weight: 900;
}

.hero .header hr {
  border-color: #ED145B;
  width: 30%;
  border-width: 2px;
}

.hero .header p {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 3%;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  line-height: 200%;
}

.hero .header a {
  text-decoration: none;
  color: #FFFFFF;
  height: 50px;
  width: 200px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  border-radius: 30px;
  background-color: #ED145B;
  transition: 0.5s;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

.hero .header a:hover {
  transform: scale(1.1);
}

/*power section*/
.power {
  position: relative;
  background-color: #F4F4F4;
}

.power .triangle {
  background-image: linear-gradient(to right bottom, #ED145B 49%, transparent 50%);
  position: absolute;
  width: 100%;
  height: 10%;
  top: 0;
  right: 0;
}

.power .container {
  padding-top: 5%;
}

.power .container h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.power .container hr {
  border-color: #ED145B;
  width: 30%;
  border-width: 2px;
  margin: 3% 0;
}

.power .container p {
  font-family: 'Lato', sans-serif;
  line-height: 200%;
}

.power .container h3 {
  margin: 10% 0 10% 0;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  color: #ED145B;
}

.power .container h3 i {
  cursor: pointer;
  margin-left: 10px;
  font-size: 3rem;
  transition: 1s;
}

.power .container h3 i:hover {
  transform: scale(1.2);
}

/*services section*/
.services {
  position: relative;
}

.services .mac {
  position: absolute;
  top: -70%;
  right: 0%;
}

.services .container {
  padding-top: 10%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.services .container h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.services .container hr {
  border-color: #ED145B;
  width: 15%;
  border-width: 2px;
}

.services .container p {
  text-align: center;
  font-family: 'Lato', sans-serif;
  line-height: 200%;
  padding: 0 20%;
}

.services .container .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 5% 0;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services .container .row .col-lg-3 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.services .container .row .col-lg-3 .circle {
  border: 1px #CDCDCD solid;
  width: 150px;
  height: 150px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  border-radius: 50%;
  transition: 0.5s;
}

.services .container .row .col-lg-3 .circle img {
  transition: transform .8s ease-in-out;
}

.services .container .row .col-lg-3 .circle:hover img {
  transform: rotate(360deg);
}

.services .container .row .col-lg-3 .circle:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.services .container .row .col-lg-3 h4 {
  color: #ED145B;
  margin-top: 10%;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
}

/*slide section*/
.slide-show {
  background-image: url("../images/bg-1.png");
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}

.slide-show .carousel {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  line-height: 300%;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  font-weight: 100;
}

.slide-show .carousel .carousel-control {
  cursor: pointer;
}

.slide-show .carousel i {
  color: #ED145B;
  font-size: 3rem;
}

/*prices section*/
.prices {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: #F4F4F4;
  padding-top: 5%;
  padding-bottom: 10%;
}

.prices h2 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.prices hr {
  border-color: #ED145B;
  width: 15%;
  border-width: 2px;
}

.prices p {
  text-align: center;
  padding: 0 20%;
  line-height: 200%;
}

.prices .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 5%;
}

.prices .row .col-lg-3 {
  width: 250px;
  margin: 1%;
}

.prices .row .col-lg-3:hover .top {
  background-color: #ED145B;
}

.prices .row .col-lg-3 .top {
  background-color: #5A5A5A;
  text-align: center;
  color: #FFFFFF;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
  transition: 1s;
}

.prices .row .col-lg-3 .top p {
  padding-top: 10%;
  line-height: 120%;
  font-family: 'Lato', sans-serif;
  margin-bottom: 15%;
}

.prices .row .col-lg-3 .top p span {
  font-size: 3rem;
}

.prices .row .col-lg-3 .top div {
  background-color: #F4F4F4;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  color: black;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: absolute;
  bottom: -20%;
}

.prices .row .col-lg-3 .bottom {
  background-color: #FFFFFF;
  padding-top: 20%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.prices .row .col-lg-3 .bottom ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 200%;
}

.prices .row .col-lg-3 .bottom button {
  border: 0;
  text-decoration: none;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: #ED145B;
  color: #FFFFFF;
  margin: 10% 0;
  transition: transform 0.5s ease-in-out;
}

.prices .row .col-lg-3 .bottom button:hover {
  transform: scale(1.1);
}

/*section about*/
.about .row {
  padding: 5% 0;
  font-family: 'Lato', sans-serif;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .row .col-lg-4 {
  width: 350px;
  margin: 1%;
}

.about .row .col-lg-4 h5 {
  color: #ED145B;
  font-weight: 600;
}

.about .row .col-lg-4 p {
  line-height: 200%;
}

.about .row .col-lg-4 img {
  transition: transform 0.5s ease-in-out;
}

.about .row .col-lg-4 img:hover {
  transform: rotateY(360deg);
}

.community {
  background-color: #ED145B;
  height: 15vh;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-align: center;
      align-items: center;
  font-family: 'Lato', sans-serif;
}

.community h1 {
  color: #FFFFFF;
  font-weight: 100;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.community h1 span {
  font-weight: 900;
  margin: 1%;
}

.community h1 button {
  border: 0;
  height: 50px;
  width: 200px;
  border-radius: 30px;
  background-color: #FFFFFF;
  font-size: 2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  color: #ED145B;
  margin-left: 5%;
  font-weight: 600;
  transition: transform 0.5s ease-in-out;
}

.community h1 button:hover {
  transform: scale(1.1);
}

/*gallery*/
.image-1 {
  background-image: url("../images/photo-1.png");
}

.image-2 {
  background-image: url("../images/photo-2.png");
}

.image-3 {
  background-image: url("../images/photo-3.png");
}

.image-4 {
  background-image: url("../images/photo-4.png");
}

.image-5 {
  background-image: url("../images/photo-5.png");
}

.image-6 {
  background-image: url("../images/photo-6.png");
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.gallery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding-top: 5%;
  padding-bottom: 5%;
}

.gallery h2 {
  text-align: center;
  font-weight: 100;
  font-style: italic;
}

.gallery hr {
  border-color: #ED145B;
  width: 15%;
  border-width: 2px;
}

.gallery p {
  text-align: center;
  padding: 0 20%;
  line-height: 200%;
  margin-bottom: 10%;
}

.gallery .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery .row .col-lg-4 {
  background-color: #F4F4F4;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 360px;
  margin: 1%;
  margin-bottom: 5%;
}

.gallery .row .col-lg-4 .image {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 360px;
  height: 250px;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.gallery .row .col-lg-4 .image:hover .triangle {
  height: 700%;
  width: 120%;
  right: -20%;
  opacity: 0.7;
}

.gallery .row .col-lg-4 .image:hover i {
  visibility: visible;
  animation: fadeIn 1s;
  transition-delay: 0s;
}

.gallery .row .col-lg-4 .image .triangle {
  background-image: linear-gradient(to right top, #ED145B 48%, transparent 50%);
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0;
  right: 0;
  transition: 1.5s;
  z-index: 1;
}

.gallery .row .col-lg-4 .image i {
  color: #FFFFFF;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: absolute;
  font-size: 3rem;
  z-index: 2;
  visibility: hidden;
  cursor: pointer;
  transition-delay: 1s;
  animation: fadeOut 1s;
}

.gallery .row .col-lg-4 h5 {
  padding: 4% 2%;
  width: 100%;
  text-align: left;
  color: #5A5A5A;
  font-weight: 600;
}

.gallery .row .col-lg-4 p {
  padding: 0 2%;
  text-align: left;
}

.gallery a {
  text-decoration: none;
  color: #ED145B;
  transition: 0.5s;
  font-weight: 600;
}

.gallery a:hover i {
  transform: translateY(10px);
}

/*template*/
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.template-main {
  overflow: hidden;
  position: relative;
}

.template-main .template {
  background-image: url("../images/bg-1.png");
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: 10s linear zoom infinite;
}

.template-main .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
}

.template-main .container h2 {
  text-align: center;
  font-weight: 100;
  font-style: italic;
}

.template-main .container hr {
  border-color: #ED145B;
  width: 15%;
  border-width: 2px;
}

.template-main .container p {
  text-align: center;
  padding: 0 20% 3% 20%;
  line-height: 200%;
}

.template-main .container a {
  text-decoration: none;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: #ED145B;
  color: #FFFFFF;
  transition: transform 0.5s ease-in-out;
}

.template-main .container a:hover {
  transform: scale(1.1);
}

/*share section*/
.share {
  padding: 5%;
}

.share .right h2 {
  padding-top: 5%;
  font-weight: 100;
  font-style: italic;
}

.share .right hr {
  border-color: #ED145B;
  width: 25%;
  border-width: 2px;
  margin: 2% 0;
}

.share .right p {
  line-height: 200%;
  padding-right: 40%;
  padding-bottom: 5%;
}

.share .right button {
  border: 0;
  text-decoration: none;
  border-radius: 20px;
  width: 180px;
  height: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: #ED145B;
  color: #FFFFFF;
  transition: transform 0.5s ease-in-out;
}

.share .right button:hover {
  transform: scale(1.1);
}

/*footer*/
.footer {
  height: 100px;
  background-color: #2B2B2B;
  color: #FFFFFF;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.footer .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.footer .container div {
  font-size: 1.5rem;
}

.footer .container div span {
  font-weight: 600;
}

.footer .container div .dot {
  color: #ED145B;
}

/*RWD*/
@media (max-width: 1900px) {
  .services .mac {
    transform: scale(0.7);
    top: -65%;
  }
  .share {
    padding: 5% 0;
  }
  .share .col-lg-6 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .share .col-lg-6 p {
    line-height: 200%;
    padding-right: 10%;
    padding-bottom: 5%;
  }
  .share .col-lg-6 img {
    transform: scale(0.7);
  }
}

@media (max-width: 1600px) {
  .services .mac {
    transform: scale(0.6);
    right: -12%;
    top: -90%;
  }
  .services .container {
    padding-top: 6%;
  }
}

@media (max-width: 1199px) {
  .power .container h2 {
    text-align: center;
  }
  .power .container hr {
    border-color: #ED145B;
    width: 30%;
    border-width: 2px;
    margin: 5% 35%;
  }
  .services .mac {
    transform: scale(0.4);
    right: -12%;
    top: -70%;
  }
  .share {
    padding: 5% 5%;
  }
  .community h1 {
    font-size: 2rem;
  }
  .community h1 button {
    height: 40px;
    width: 150px;
  }
  .slide-show .carousel {
    font-size: 1.5rem;
  }
  .slide-show .carousel i {
    font-size: 2rem;
  }
}

@media (max-width: 991px) {
  .services .mac {
    display: none;
  }
}

@media (max-width: 768px) {
  .hideme {
    opacity: 1;
  }
  .hero .navbar-default {
    padding-top: 10px;
  }
  .hero li a {
    border: none;
  }
  .hero li a:before {
    width: 20%;
  }
  .share img {
    display: none;
  }
  .community .container {
    width: 100%;
  }
  .community .container h1 {
    font-size: 2rem;
  }
  .community .container h1 button {
    height: 40px;
    width: 100px;
    font-size: 1rem;
  }
  .slide-show .carousel {
    font-size: 1rem;
  }
  .slide-show .carousel i {
    font-size: 1.5rem;
  }
  .template-main .container {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .power .triangle {
    height: 5%;
  }
}
/*# sourceMappingURL=style.prefixed.css.map */